# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Data and cache files
*.json
cache/
data/
trade_history/
analysis_history/
news_data/

# Logs
*.log

# Visual Studio Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.spyderproject
.spyproject
.ropeproject

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

